<p>
  <mat-toolbar>
    <span>Hasedor de menús</span>
  </mat-toolbar>
</p>
<div class="content">
  <form [formGroup]="myForm" class="example-form">
    <mat-form-field appearance="fill">
      <mat-label>Plato 1</mat-label>
      <mat-select formControlName="plato1">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let receipt of receipts" [value]="receipt">
          {{receipt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plato 2</mat-label>
      <mat-select formControlName="plato2">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let receipt of receipts" [value]="receipt">
          {{receipt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plato 3</mat-label>
      <mat-select formControlName="plato3">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let receipt of receipts" [value]="receipt">
          {{receipt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plato 4</mat-label>
      <mat-select formControlName="plato4">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let receipt of receipts" [value]="receipt">
          {{receipt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plato 5</mat-label>
      <mat-select formControlName="plato5">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let receipt of receipts" [value]="receipt">
          {{receipt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plato 6</mat-label>
      <mat-select formControlName="plato6">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let receipt of receipts" [value]="receipt">
          {{receipt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plato 7</mat-label>
      <mat-select formControlName="plato7">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let receipt of receipts" [value]="receipt">
          {{receipt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Plato 8</mat-label>
      <mat-select formControlName="plato8">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let receipt of receipts" [value]="receipt">
          {{receipt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
  <div class="shopping-list">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let ingredient of ingredientsList | keyvalue"><a
          [href]="ingredient.value.url" target="_blank">{{ ingredient.value.name }}</a>, {{ ingredient.value.value }}
        {{ ingredient.value.unit }}</mat-list-item>

    </mat-list>

  </div>
</div>